.descrip-data{
    padding: 5px;
  width: 100%;
    background-color: black;
}
.cart2{
    display: flex;
    justify-content: space-around;
   
}
.discript{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    cursor: pointer;
}
.li-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
.img-ele{
    height: 5vh;

}
.data-name{
    color: aliceblue;
}
.separate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.money{
    font-size: 25px
}
@media screen  and (min-width:1024px){
    .descrip-data{
        display: none;
       
    }

}
@media screen and (min-width:767px) {
    .descrip-data{
        display: none;
       
       
    }

}
@media screen and (max-width:320px) {
    .descrip-data{
        padding-top: 325px;

    }
    .line3{
        display: none;
    }
    .filter-button{
        font-size: 10px;

    }
    .description{
font-weight: 100;
    }
    
}
