.cart-img{
    width: 77px;
height: 10vh;
top: 3.5px;
left: 3.5px;
gap: 0px;
border: 4px 0px 0px 0px;
opacity: 0px;


}
.not-found{
    align-items: center;
    text-align: center;
    /* font-size: 15px; */
    padding-top: 10px;
   
   
}
.data{
    font-size: 30px;
}
.span{
    color: #51D289;
}
