.navBar {
  
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}
.navbar-bg{
    padding: 15px;
  width: 100%;
}
.name-ale{
      font-style: open sans;
  font-weight: 100;

}
.left-nav {
  display: flex;
  align-items: center;
}
.expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dollar-img {
  font-size: 50px;
  color: grey;
}
.expenases-name {
  color: #ffe600;
}
.new-expanse-btn {
    width: 10vw;
  height: 38px;
  gap: 0px;
  color: black;
  opacity: 0px;
  align-items: center;
  background-color: #ffe600;
}
.btnn {
  padding-right: 5px;
  gap: 5px;
  width: 50%;

}
.profile {
  width: 30%;
  font-size: 15px;

  

}
.heading2 {
  font-size: 25px;
}
.data {
  align-items: center;
  padding-left: 10px;
}
.logout-btn{
  width: 30%;
  background-color: red;
}
@media screen and (max-width: 768px) {
  .heading2 {
    font-size: 18px;
  }
  .profile {
    display: none;
  }
  .name-ale{
    display: visible;
  }
  .new-expanse-btn{
    font-size: 10px;
    font-weight: bold;
    
    
  }
  .navbar-bg{
    padding: 0px;
    padding-left: 10px;
  }
  .logout-btn{
    width: 50%;
    background-color: red;
    font-size: 15px;
  }
  .new-expanse-btn {
    width: 80%;
  height: 38px;
  gap: 0px;
  color: black;
  opacity: 0px;
  align-items: center;
  background-color: #ffe600;
}
  
}
@media screen and (min-width:767px) {
    .name-ale{
        display: none;
        padding: 0px;
    }
  }
  @media screen and (max-width:1364px) {
    .new-expanse-btn {
      width: 30%;
    height: 38px;
    gap: 0px;
    color: black;
    opacity: 0px;
    align-items: center;
    background-color: #ffe600;
  }
    
  }
  @media screen and (min-width:778) and (max-width:908px) {
    .new-expanse-btn{
      width: 40%;
    }
    
  }
    
    

@media screen and (max-width:320px){
    .navbar-bg{
        width: 60%;
    }
    .new-expanse-btn{
        display: none;
    }
    .logout-btn{
      width: 100%;
      background-color: red;
      font-size: 15px;
    }
    
}
@media screen and (max-width:320px){
    .dollar-img{
        font-size: 30px;
    }
    .left-nav{
        display: flex;
        justify-content: space-between;
    }.data{

       font-size: 50px;
        padding-left: 50px;
    }
}

