
.discripte{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.li-item{
    padding: 25px;
    list-style: none;

}
.separate{
    padding: 10px;
}
.buttons{
    display: flex;
   justify-content: space-evenly;
    
}
.btn1{
    background-color: #FFE600;
    color: black;
    width: 10%;
}
.btn3{
   
    background-color: rgb(255, 21, 0);
    color: black;
    width: 10vw;
}
@media screen and (min-width:316px) and (max-width:667px) {
    .btn1{
        width: 30%;
    }
    .btn3{
        width: 100%;
    }
    .li-item{
        font-size: 15px;
    }
   
    
}
@media screen and (max-width:320px) {
    .btn1{
        width: 50%;
    }
    .btn3{
        width: 100%;
    }
    .li-item{
        font-size: 15px;
    }
   
    
}