.bg-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.image-cart {
  background-color: antiquewhite;
  padding-left: 20px;
  width: 50%;
  height: 100vh;
 
}
.cart-title {
  color: black;
  font-family: Open Sans;
  font-size: 42.41px;
  font-style: italic;
  font-weight: 400;
  line-height: 57.75px;
  text-align: left;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.imageEle {
  width: 100%;
  
  background-size: cover;
  
  gap: 0px;
  opacity: 0px;
  display: flex;
justify-content: end;
}
/* .imgele{
    width: 100%;
  
    background-size: cover;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: end;
} */
/* details cart */
.details-cart {
  background-color: #1e1e1e;
  width: 50%;
  height: 100vh;
 
  padding-top:121px ;
  gap: 0px;
  opacity: 0px;
  align-items: center;
  text-align: center;

}
.budget{
    color:#51D289;
}
.heading{
    width: Hug (446px)px;

padding: 7px 0px 7px 0px;
gap: 8px;
opacity: 0px;
text-align: center;
font-style: Open sans;
font-size: 30px;


}
.forlEle{
    /* width: 481px;
height: 341px;
top: 147px;
left: 3px;
gap: 0px;
opacity: 0px; */
text-align: center;
align-items: center;
}
.carts{
    padding: 10px;
}
.income{
    font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 40.84px;
letter-spacing: 0.1em;
text-align: left;
color: grey;
font-style: open sans;

}
.btn{
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color: #FFE600;
color: #1e1e1e;


}
.btn-con{
    padding-top: 15px;
    

}
.error{
    color: red;
    font-weight: bold;
}

/* tablet veiw */
@media screen and (max-width:768px){
    .heading{
        font-size: 25px;
    }
    .bg-container{
        width: 100%;
    }
    .image-cart{
        display: none;
    }
    .forlEle{
        font-size: 20px;
    }
    .btn{
        font-size: 10px;
          
    }
    .details-cart{
  background-color: #1e1e1e;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
    }
    
}
